{% extends "::base.html.twig" %}

{% block body %}
    <div> 
{% if form is defined %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.src) }}
        {{ form_row(form.heureDate) }}
    {{ form_end(form) }}
{% endif %}



{% if message is defined %}
{{ message }}
{% endif %}
</div>
{% endblock %}